[submodule "site-lisp/yaml-mode"]
	ignore = untracked
	ignore = untracked
	path = site-lisp/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "site-lisp/undo-tree"]
	ignore = untracked
	ignore = untracked
	path = site-lisp/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "site-lisp/js2-mode"]
	ignore = untracked
	ignore = untracked
	path = site-lisp/js2-mode
	url = https://github.com/magnars/js2-mode.git
[submodule "site-lisp/jade-mode"]
	ignore = untracked
	ignore = untracked
	path = site-lisp/jade-mode
	url = https://github.com/brianc/jade-mode.git
[submodule "site-lisp/coffee-mode"]
	ignore = untracked
	ignore = untracked
	path = site-lisp/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "site-lisp/multi-term"]
	ignore = untracked
	ignore = untracked
	path = site-lisp/multi-term
	url = https://github.com/emacsmirror/multi-term.git
[submodule "site-lisp/fit-frame"]
	ignore = untracked
	ignore = untracked
	path = site-lisp/fit-frame
	url = https://github.com/emacsmirror/fit-frame.git
[submodule "site-lisp/smex"]
	ignore = untracked
	ignore = untracked
	path = site-lisp/smex
	url = https://github.com/emacsmirror/smex.git
[submodule "site-lisp/cygwin-mount"]
	ignore = untracked
	ignore = untracked
	path = site-lisp/cygwin-mount
	url = https://github.com/emacsmirror/cygwin-mount.git
[submodule "site-lisp/hobo"]
	ignore = untracked
	ignore = untracked
	path = site-lisp/hobo
	url = https://github.com/emacsmirror/hobo.git
[submodule "site-lisp/wrap-region"]
	ignore = untracked
	ignore = untracked
	path = site-lisp/wrap-region
	url = https://github.com/graehl/wrap-region.git
[submodule "site-lisp/hl-line-plus"]
	ignore = untracked
	ignore = untracked
	path = site-lisp/hl-line-plus
	url = https://github.com/emacsmirror/hl-line-plus.git
[submodule "site-lisp/isearch-plus"]
	ignore = untracked
	ignore = untracked
	path = site-lisp/isearch-plus
	url = https://github.com/emacsmirror/isearch-plus.git
[submodule "site-lisp/smooth-scroll-el"]
	ignore = untracked
	ignore = untracked
	path = site-lisp/smooth-scroll-el
	url = https://github.com/k-talo/smooth-scroll.el.git
[submodule "site-lisp/compile-"]
	ignore = untracked
	path = site-lisp/compile-
	url = https://github.com/emacsmirror/compile-.git
[submodule "site-lisp/compile-plus"]
	ignore = untracked
	path = site-lisp/compile-plus
	url = https://github.com/emacsmirror/compile-plus.git
[submodule "site-lisp/pandoc-mode"]
	ignore = untracked
	path = site-lisp/pandoc-mode
	url = git://github.com/joostkremers/pandoc-mode.git
[submodule "site-lisp/python"]
	path = site-lisp/python
	url = git://github.com/fgallina/python.el.git
[submodule "site-lisp/git-commit-mode"]
	path = site-lisp/git-commit-mode
	url = git://github.com/rafl/git-commit-mode.git
[submodule "site-lisp/gitsum"]
	path = site-lisp/gitsum
	url = git://github.com/tomykaira/gitsum.git
[submodule "site-lisp/ag.el"]
	path = site-lisp/ag.el
	url = git://github.com/Wilfred/ag.el.git
[submodule "site-lisp/git-modes"]
	path = site-lisp/git-modes
	url = git://github.com/magit/git-modes.git
[submodule "site-lisp/emacs-clang-complete-async"]
	path = site-lisp/emacs-clang-complete-async
	url = git://github.com/Golevka/emacs-clang-complete-async.git
[submodule "site-lisp/helm"]
	path = site-lisp/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "site-lisp/multiple-cursors.el"]
	path = site-lisp/multiple-cursors.el
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "site-lisp/expand-region.el"]
	path = site-lisp/expand-region.el
	url = https://github.com/magnars/expand-region.el.git
[submodule "site-lisp/python-mode"]
	path = site-lisp/python-mode
	url = git@github.com:emacsmirror/python-mode.git
